.conteiner{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

a{
    color: red;
    text-decoration: none;
}

footer{
    border: 3px;
    background-color: aliceblue;
    border-radius: 6px;
    text-align: center;
    padding: 20px;
    }
